@if (loading) {
  <p>Cargando usuario...</p>
} @else {
  @if (email) {
    <div class="bienvenida">
      <h2>Bienvenido, {{ email }} 👽</h2>
      <img 
        src="https://cdn-icons-png.flaticon.com/512/10935/10935904.png" 
        alt="Bienvenida extraterrestre" 
        class="bienvenida-img"
      />
      
      <div class="menu">
        <a routerLink="/ahorcado">Ahorcado</a>
        <a routerLink="/mayor-menor">Mayor o Menor</a>
        <a routerLink="/preguntados">Preguntados</a>
        <a routerLink="/juego-propio">Mi Juego Propio</a>
        <a routerLink="/chat">Chat</a>
        <a routerLink="/resultados-juegos">Resultados de Juegos</a>
        <a routerLink="/encuesta">Encuesta</a>
        <a routerLink="/resultados-encuesta">Ver Encuestas (Admin)</a>
      </div>
      
      <button (click)="logout()">Cerrar Sesión</button>
    </div>
  } @else {
    <h2>No hay sesión activa</h2>
    <a routerLink="/login">Iniciar Sesión</a>
    <a routerLink="/registro">Registrarse</a>
  }
}

